html {
    height: 100%;
}

body {
    font-family: sans-serif;
    color: black;
    min-height: 100%;
 }

 body.main {
   background-color: white;
 }

.container {
  background-color: gray;
}
.chat-title {
  padding: 1rem;
  font-size: 3rem;
}

.room-button {
  position: relative;
  left: 10px;

}

.room-array-item {
  padding: 1rem;
  font-size: 1.5em;
}

.col-9 {
  background-color: white;
}


 /* Medium and small screens (640px)
@media (min-width: 40rem) {
    html { font-size: 112%; }

    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}

/* Large screens (1024px)
@media (min-width: 64rem) {
    html { font-size: 120%; }
}
*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
