html {
    height: 100%;
}

body {
    font-family: sans-serif;
    color: black;
    min-height: 100%;
 }

 body.main {
   background-color: white;
 }

.container-fluid {
  background-color: lightgray;
}

.fill {
    height: 100vh;
}

.chat-title {
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  display: inline-block;
}

.btn-primary {
  background-color: gray !important;
  border-color: gray !important;
  color: white !important;
}

.btn-warning {
  background-color: lightgray !important;
  border-color: lightgray !important;
}

.room-button {
  position: relative;
  left: 6px;
  top: -10px;
  background-color: #F5F5F5;
  color: gray;
  display: inline-block;
}

.message-stamp {
  float: right;
  color: lightgray;
}

.message-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.message-username {
  font-weight: 600;
  color: darkred;
}

.input-fixed {
  position: fixed;
  bottom: 13px;
  border: 2px solid;
  border-color: darkgray;
}

.wide-input {
  width: 47vw;
}

.room-array-item {
  padding: 0.5rem;
  font-size: 1.25rem;
}

.white-background {
  background-color: white;
}
