<div class="container-fluid">
  <div class="row">
    <div class="col fill">
      <div class="header">
        <h1 class="chat-title">Bloc Chat </h1>
        <a class="right btn btn-default room-button" ng-controller="ModalCtrl as modals" ng-click="modals.open()">New Room</a>
      </div>
      <div class="room-array-item" ng-click="home.setRoom(room.$id)" ng-repeat="room in home.roomArray"> <p> {{ room.$value }} </p></div>
    </div>
    <div class="col-8 white-background"> <h1>{{ home.room.$value }}</h1>
      <div ng-repeat="message in home.messages">
        <p> {{ message.content }} <span class="message-stamp">{{ message.sentAt | date: 'medium' }}</span></p>
      </div>
      <div ng-show="home.messages" class="input-fixed">
        <input type="text" class="wide-input" ng-model="home.messageBody"></input>
        <a ng-click="home.sendMessage()" class="btn btn-primary message-btn">Send Message</a>
      </div>
    </div>
  </div>
</div>
