<div class="container-fluid">
  <div class="row">
    <div class="col fill">
      <div h1 class="chat-title"> Bloc Chat </h1></div>
      <div ng-controller="ModalCtrl as modals">
        <button type="button" class="btn btn-default room-button" ng-click="modals.open()">New Room</button>
      </div>
      <div class="room-array-item" ng-click="home.setRoom(room.$id)" ng-repeat="room in home.roomArray"> <p> {{ room.$value }} </p></div>
    </div>
    <div class="col-8"> <h1>{{ home.room.$value }}</h1>
      <div> <p> {{ home.messages[0].content }} </p> </div>
    </div>
  </div>
</div>
